---

import { getAllPosts } from '@/utils';
import BaseLayout from '../layouts/Base.astro';
const url = new URL(Astro.request.url);
let query = url.searchParams.get('q');

// Если query равно null, задаем пустую строку для предотвращения ошибки
query = query ? query.toLowerCase() : '';

const allPosts = await getAllPosts();

const results = allPosts.filter((post) =>
  post.data.title.toLowerCase().includes(query) ||
  post.body.toLowerCase().includes(query) // Проверяем контент поста
);
---

<BaseLayout title="Search Results">
  <h1>Search Results for "{query}"</h1>
  {results.length > 0 ? (
    <ul>
      {results.map(post => (
        <li>
          <a href={`/blog/${post.slug}`}>{post.data.title}</a>
        </li>
      ))}
    </ul>
  ) : (
    <p>No results found.</p>
  )}
</BaseLayout>