---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro';
import { siteConfig } from "../consts.ts";

interface Props {
		title?: string;
		description?: string;
		image?: string;
}

const { title = "", description = siteConfig.description, image } = Astro.props;

---
<!doctype html>
<html lang="en" class="dark">
	<head>
		  <!-- Иконки для разных устройств -->
		  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		  <link rel="manifest" href="/site.webmanifest">
		  <link rel="mask-icon" href="/favicon.ico" color="#5bbad5">
		  <link rel="shortcut icon" href="/favicon.ico">
		
		  <!-- Мета-теги для определения цвета в интерфейсе (напр. в браузере) -->
		  <meta name="msapplication-TileColor" content="#2d89ef">
		  <meta name="theme-color" content="#ffffff">
		  
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<Header/>
		<main>
			<section class="cody-bg">
				<slot/>
			</section>
		</main>
		<Footer/>
	</body>
</html
